<main>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel
      (opened)="fetchSubscription(item)"
      *ngFor="let item of offers"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ item.name }} </mat-panel-title>
        <mat-panel-description>
          Contract valid between
          {{ item.contractStartDate | date: "fullDate" }} -
          {{ item.contractEndDate | date: "fullDate" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span *ngIf="item.loading"> Loading... </span>
      <mat-chip-listbox>
        <mat-chip *ngFor="let sub of item.subscription">
          {{ sub.name }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-expansion-panel>
  </mat-accordion>
</main>